<!--this code manages the footer which is like we did in the lecture
and it's had its colors changed to match the navigation bar -->
<footer>
      <nav class="navbar fixed-bottom navbar-dark" style="background-color: purple;">
        <h6 class="navbar-text">&copy; Copyright 2025 Imama Meraj </h6>
      </nav>
    </footer>
    <script src="/Script/app.js"></script>
  </body>
</html>